:root{
    --background_color: #f5f1f1;
    --cor_templates:white;

    --aluguel:#9cbaf1;
    --disponiveis:#7FFFD4;
    --ocupado:#FFDEAD;
    --manutencao:#FF7F50;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background_color);
    display: flex;
}

.tela{
    height: 100vh;
    padding: 0 20px;
}

h1 {
    font-size: 40px;
}

.totais{
    display: flex;
    gap: 20px;
}

.valor{
    background-color: var(--cor_templates);
    border-radius: 10px;
    font-size: 25px;
}

.valor .txt {
    padding-right: 15px;
    font-size: 20px;
    padding-left: 10px;
}

.tela .material-symbols-outlined {
    font-size: 40px;
    margin: 10px;
    border-radius: 12px;
    padding: 7px;
}

#aluguel{

    --dark_color: color-mix(in srgb, black 100%, var(--aluguel) 100%); /*Função que deixa a cor de uma variavel mais escura*/

    background-color: var(--aluguel);
    color: var(--dark_color);
}

#disponivel{

    --dark_color: color-mix(in srgb, black 100%, var(--disponiveis) 100%);

    background-color: var(--disponiveis);
    color: var(--dark_color);
}

#ocupado{

    --dark_color: color-mix(in srgb, black 100%, var(--ocupado) 100%);

    background-color: var(--ocupado);
    color: var(--dark_color);
}

#manutencao{

    --dark_color: color-mix(in srgb, black 100%, var(--manutencao) 100%);

    background-color: var(--manutencao);
    color: var(--dark_color);
}

.valor > p{
    padding-top: 15px;
    padding-left: 20px;
    margin-bottom: 5px;
}

.grafico{
    background-color: var(--cor_templates);
    margin-top: 20px;
    width: 75vw;
    border-radius: 10px;
}

h2{
    margin-left: 30px;
    padding-top: 5px;
}