:root{
    --backgroun_color: white;
    --cor_secundaria: #1E90FF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Menu lateral*/

.menu_lateral{
    width: 250px;
    height: 100vh;
    background-color: var(--backgroun_color);
    padding-top: 30px;
    box-shadow: 5px 0 0 var(--cor_secundaria);
}

ul {
    list-style-type: none;
}

ul > li.item_menu{
    transition: .2s;
    width: 90%;
    border-radius: 10px;
    margin-left: 10px;
}


ul li.ativo{
    background-color: var(--cor_secundaria);
}

ul > li.item_menu:hover{
    background: var(--cor_secundaria);
}

ul > li.item_menu a{
    text-decoration: none;
    font-size: 25px;
    padding: 25px 4%;
    margin-left: 20px;
    display: flex;
    margin-bottom: 20px;
    color: black;
}

ul > li.item_menu .txt_link{
    margin-left: 10px;
}

.menu .material-symbols-outlined{
    font-size: 30px;
}
