{% load static %}

<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="{% static '/CSS/nav.css' %}">

<nav>
    
        <nav class="menu_lateral">
    
            <ul>
    
                <li class="item_menu">
                    <a href='\'>
                        <span class="material-symbols-outlined">readiness_score</span>
                        <span class="txt_link">Dashboard</span>
                    </a>
                </li>
    
                <li class="item_menu">
                    <a href="alugueis">
                        <span class="material-symbols-outlined" class="icon">car_rental</span>
                        <span class="txt_link">Alugueis</span>
                    </a>
                </li>
    
                <li class="item_menu">
                    <a href="#">
                        <span class="material-symbols-outlined" class="icon">directions_car</span>
                        <span class="txt_link">Veículos</span>
                    </a>
                </li>
    
                <li class="item_menu">
                    <a href="#">
                        <span class="material-symbols-outlined" class="icon">group</span>
                        <span class="txt_link">Motorista</span>
                    </a>
                </li>
    
                <li class="item_menu">
                    <a href="#">
                        <span class="material-symbols-outlined" class="icon">checklist</span>
                        <span class="txt_link">Manutenção</span>
                    </a>
                </li>
    
            </ul>
        </nav>
</nav>